.input-enter-auth-number-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: auto;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    height: auto;
  

    & > label {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 100%;
      height: auto;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px; 
      color: var(--general-neutral-700, #525252);
      letter-spacing: -0.32px;

      & > input {
        box-sizing: border-box;
        width: 100%;
        height: 48px;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--neutral-850, #141414);
        letter-spacing: -0.32px;
        border: 1px solid var(--neutral-500, #A3A3A3);
        border-radius: 12px;
        outline: none;

        &[disabled] {
          background-color: #F7F7F7;
          border-color: #CCCBCB;
        }
      }

      & .check-icon {
        position: absolute;
        top: 42px;
        right: 16px;
      }

      & .request-time {
        position: absolute;
        top: 40px;
        right: 16px;
        font-size: 14px;
        line-height: 22px;
        color: var(--general-neutral-800, #282828);
        letter-spacing: -0.28px;
        user-select: none;
      }

      &.before {
        color: #CCCBCB; 
      }
    }

    & > p {
      padding-left: 16px;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: var(--general-neutral-700, #525252);
      letter-spacing: -0.28px;
    }
  }

  & > button {
    width: 100%;
    height: 38px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; 
    color: var(--neutral-800, #282828);
    letter-spacing: -0.28px;
    background: #FFF;
    border: 1px solid var(--neutral-800, #282828);
    border-radius: 12px;


    &[disabled] {
      opacity: 0.3;
    }
  }
}