.process1-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 442px;
  height: auto;

  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    padding: 24px;
    border: 1px solid var(--general-neutral-300, #E6E6E6);
    border-radius: 12px;
  }
}