.agreement-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 442px;
  height: auto;
  

  .agreement-wrapper {
    width: 100%;
    height: 538px;
    border: 1px solid var(--general-neutral-300, #E6E6E6);
    border-radius: 12px;

    & > .all-agree-wrapper {
      display: flex;
      gap: 8px;
      align-items: center;
      width: 100%;
      height: 60px;
      padding: 16px;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px; 
      color: var(--general-neutral-800, #282828);
      letter-spacing: -0.36px;
      border-bottom: 1px solid #E6E6E6;
    }

    & > .each-agree-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      height: calc(100% - 60px);
      padding: 16px;

      & > .each-agree-item {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & > .header {
          display: flex;
          gap: 12px;
          align-items: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; 
          color: var(--general-neutral-800, #282828);
          letter-spacing: -0.32px;
        }

        & > .body {
          width: 100%;
          height: 106px;
          padding: 8px;
          overflow-y: scroll;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          color: var(--general-neutral-700, #525252);
          letter-spacing: -0.28px;
          background: var(--general-neutral-200, #F2F2F2);
          border-radius: 10px;

          &::-webkit-scrollbar {
            width: 12px;
          }
      
          &::-webkit-scrollbar-thumb {
            background-color: #CCCBCB;
            background-clip: padding-box;
            border: 4px solid transparent;
            border-radius: 12px;
          }
      
          &::-webkit-scrollbar-track {
            margin-top: 4px;
            margin-bottom: 4px;
            
          }
      
        }
      }
    }

    & [alt="icon"] {
      cursor: pointer;
    }
  }
}