.input-wrapper {
  width: 328px;

  &.error {
    & > label {
      color: var(--general-neutral-700, #E00F00);
      & > input {
        border: 1px solid var(--general-neutral-500, #E00F00);
        color: var(--general-error-e-600, #E00F00);
        
        &:autofill {
          box-shadow: 0 0 0px 1000px transparent inset;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          transition: background-color 5000s ease-in-out 0s;
          -webkit-transition: background-color 9999s ease-out;
          -webkit-box-shadow: 0 0 0px 1000px transparent inset;
          box-shadow: 0 0 0px 1000px transparent inset;
          -webkit-text-fill-color: #E00F00;
        }
      }
    }
  }

  & > label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 328px;
    height: 76px;
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; 
    color: var(--general-neutral-700, #525252);
    letter-spacing: -0.32px;

    & > input {
      width: 328px;
      height: 48px;
      padding: 12px 16px;
      font-family: Pretendard, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: var(--general-neutral-850, #141414);
      letter-spacing: -0.32px;
      border: 1px solid var(--general-neutral-500, #A3A3A3);
      border-radius: 12px;
      outline: none;
      
      &:autofill {
        box-shadow: 0 0 0px 1000px transparent inset;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-transition: background-color 9999s ease-out;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        box-shadow: 0 0 0px 1000px transparent inset;
      }
    }

    & > .delete-icon {
      position: absolute;
      top: 42px;
      right: 16px;
      cursor: pointer;
    }
  }

  & > p {
    margin-top: 4px;
    margin-left: 16px;
    color: var(--general-error-e-600, #E00F00);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.28px;
  }
}