@import '../../styles/reset.scss';
@import '../../styles/font.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Pretendard, sans-serif;
}

.auth-layout {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  
  & > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-top: 48px;

    & > p {
      margin-top: 8px;
      font-family: Pretendard, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
      color: var(--general-neutral-800, #282828);
      letter-spacing: -0.4px;
    }
    
    & > section {
      margin-top: 24px;
    }
  }
}