.button-item {
  cursor: pointer;

  & > label {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding: 0 16px;
    font-family: Pretendard, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: var(--general-neutral-700, #525252);
    letter-spacing: -0.36px;
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--neutral-500, #A3A3A3);
    border-radius: 12px;
  }

  & input {
    display: none;
  
    &:checked + label {
      color: var(--general-neutral-800, #282828);
      border: 1px solid var(--general-neutral-800, #282828);
  
      &::after {
        content: url('../../../public/assets/icons/ic-checked-23x24.svg');
      }
    }
  }
}

