@import '../styles/reset.scss';
@import '../styles/font.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Pretendard, sans-serif;
}

.home-container {
  width: 100vw;
  height: 100vh;

  & > header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
    box-shadow: 0 1px 0 0 #CCCBCB;

    .header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 20px 40px;

      .menu-wrapper {
        display: flex;
        gap: 48px;
        width: 277px;
        height: auto;

        .menu-item {
          text-decoration: none;

          & > p {
            font-family: Pretendard, sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
            color: var(--general-neutral-800, #282828);
            letter-spacing: -0.36px;
          }
        }
      }
    }
  }

  & > main {
    display: flex;
    width: 100%;
    height: calc(100% - 72px);

    article {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      min-width: 1032px;
      height: 100%;
      box-shadow: 1px 0 0 0 #CCCBCB;
    }

    aside {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 408px;
      height: 100%;

      form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: auto;
        height: auto;

        & button {
          width: 328px;
          height: 48px;
          font-family: Pretendard, sans-serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          color: var(--general-neutral-white, #FFF);
          letter-spacing: -0.32px;
          background: var(--general-neutral-800, #282828);
          border: none;
          border-radius: 12px;
          outline: none;
          cursor: pointer;
          
          &[disabled] {
            color: var(--general-neutral-400, #CCCBCB);
            background: var(--general-neutral-300, #E6E6E6);
          }
        }

        & .bottom-box-wrapper {
          display: flex;
          gap: 12.5px;
          align-items: center;
          width: 100%;
          height: 40px;
          padding: 12px 16px;
          

          & .bottom-box-item {
            display: flex;
            align-items: center;
            width: fit-content;
            height: fit-content;
            font-family: Pretendard, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            color: var(--neutral-700, #525252);
            text-decoration: none;
            letter-spacing: -0.32px;

            &::after {
              display: inline-block;
              height: 16px;
              margin-left: 12.5px;
              content: '';
              border-right: 1px solid #A3A3A3;
            }

            &:last-child::after {
              display: none;
            }
          }
        }
      }
    }
  }
}