.invitation-card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 672px;
  height: auto;

  & > p {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    color: var(--general-neutral-800, #282828);
    letter-spacing: -0.64px;
  }

  & > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 335px;
    background: var(--general-neutral-white, #FFF);
    border: 1px solid var(--general-neutral-400, #CCCBCB);
    border-radius: 12px;

    > figcaption {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 120px;
      border-top: 1px solid #CCCBCB;

      & > p {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.48px;
        
        &:first-child {
          color: var(--general-neutral-800, #282828);
        }

        &:last-child {
          color: var(--general-neutral-600, #7A7A7A);

        }
      }
    }
  }

  & > [href=""] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--neutral-white, #FFF);
    text-decoration: none;
    letter-spacing: -0.32px;
    background: var(--general-neutral-800, #282828);
    border-radius: 12px;
  }
}