.institution-code-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 442px;
  height: auto;

  .bottom-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 80px;
    padding: 16px;
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    color: var(--general-neutral-700, #525252);
    letter-spacing: -0.32px;
    border: 1px solid var(--general-neutral-400, #CCCBCB);
    border-radius: 12px;

    & > p:first-child {
      font-weight: 600;
    }

    & > p:last-child {
      font-weight: 400;
    }
  }
}