.dropdown-row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--general-neutral-700, #525252);
    letter-spacing: -0.32px;
  }
}