.sign-up-progress-bar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 214px;
  height: 30px;

  .progress-bar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; 
    color: var(--general-neutral-500, #A3A3A3);
    letter-spacing: -0.32px;
    background-color: #E6E6E6;
    border-radius: 50%;

    &.current {
      color: #FFF;
      background-color: #282828;
    }
  }

  .parallel-line {
    position: absolute;
    top: 50%;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: #E6E6E6;
    transform: translateY(-50%);
  }
}