.complete-find-id-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  & > p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 442px;
    padding: 24px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    color: var(--general-neutral-800, #282828);
    letter-spacing: -0.36px;
    background: var(--general-neutral-100, #F7F7F7);
    border: 1px solid var(--general-neutral-400, #CCCBCB);
    border-radius: 12px;
    box-sizing: border-box;
  }

  & > .button-wrapper {
    display: flex;
    gap: 24px;

    & button {
      width: 209px;
      height: 48px;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.32px;
      cursor: pointer;
      border: none;
      border-radius: 12px;
      outline: none;
    }

    & > [href='/auth/find-pw'] > button {
      color: var(--neutral-700, #525252);
      background: var(--neutral-300, #E6E6E6);

    }

    & > [href='/'] > button {
      color: var(--neutral-white, #FFF);
      background: var(--general-neutral-850, #141414);
    }
  }
}