.default-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; 
  color: var(--general-neutral-700, #525252);
  letter-spacing: -0.32px;

  & > input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--neutral-850, #141414);
    letter-spacing: -0.32px;
    border: 1px solid var(--neutral-500, #A3A3A3);
    border-radius: 12px;
    outline: none;
<<<<<<< HEAD
    box-sizing: border-box;
    
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
=======

    &.default-value {
      user-select: none;
      background-color: #F2F2F2;
>>>>>>> 61fb5fe3336fa9b8ba9d2d929b555368118cd8a3
    }
  }
  
  &.parallel {
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #E6E6E6;

    &:first-child {
      padding-top: 0;
    }


    & > input {
      width: 394px;
      height: 38px;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: var(--neutral-850, #141414);
      letter-spacing: -0.28px;
    }
  }
}