.input-request-auth-number-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: auto;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    height: auto;
  

    & > label {
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 100%;
      height: auto;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px; 
      color: var(--general-neutral-700, #525252);
      letter-spacing: -0.32px;
      border: 1px solid var(--neutral-500, #A3A3A3);
      border-radius: 12px;
      outline: none;
      box-sizing: border-box;
      
      &[type="number"]::-webkit-outer-spin-button,
      &[type="number"]::-webkit-inner-spin-button {
        appearance: none;
      }

      &:autofill {
        box-shadow: 0 0 0px 1000px transparent inset;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        // -webkit-transition: background-color 9999s ease-out;
        // -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        box-shadow: 0 0 0px 1000px transparent inset;
      }

      & > input {
        box-sizing: border-box;
        width: 100%;
        height: 48px;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--neutral-850, #141414);
        letter-spacing: -0.32px;
        border: 1px solid var(--neutral-500, #A3A3A3);
        border-radius: 12px;
        outline: none;
      }
    }

    & > p {
      padding-left: 16px;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: var(--general-neutral-700, #525252);
      letter-spacing: -0.28px;
    }
  }

  & > button {
    width: 100%;
    height: 38px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; 
    color: var(--neutral-800, #282828);
    letter-spacing: -0.28px;
    background: #FFF;
    border: 1px solid var(--neutral-800, #282828);
    border-radius: 12px;
    cursor: pointer;


    &[disabled] {
      opacity: 0.3;
      cursor: default;
    }
  }
}