.dropdown-container {
  position: relative;
  z-index: 10;
  width: 324px;
  height: auto;
  user-select: none;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 38px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: var(--general-neutral-500, #A3A3A3);
    letter-spacing: -0.28px;
    cursor: pointer;
    background: var(--general-neutral-white, #FFF);
    border: 1px solid var(--general-neutral-400, #CCCBCB);
    border-radius: 12px;

    &.toggle {
      border: 1px solid var(--general-neutral-800, #282828);

      & [alt='icon'] {
        transform: rotate(180deg);
      }
    }
  }

  .select-wrapper {
    position: absolute;
    top: 38px;
    width: 100%;
    height: 174px;
    padding: 8px;
    overflow: scroll;
    background: var(--general-neutral-white, #FFF);
    border: 1px solid var(--general-neutral-400, #CCCBCB);
    border-radius: 12px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 15%);

    &::-webkit-scrollbar {
      display: none;
    }

    .select-item {
      display: flex;
      align-items: center;
      width: 100%;
      height: 32px;
      padding: 4px 8px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: var(--general-neutral-850, #141414);
      letter-spacing: -0.32px;
      cursor: pointer;
      border-radius: 10px;

      &:hover {
        background: var(--general-neutral-200, #F2F2F2);
      }
    }
  }

  .transparent-dim {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: red;
  }
}