.find-pw-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 442px;
  height: auto;

  & .bottom-wrapper {
    display: flex;
    gap: 12px;

    & > p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: var(--general-neutral-700, #525252);
      letter-spacing: -0.32px;
    }

    & > [href="find-id"] {
      display: flex;
      gap: 2px;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px; 
      color: var(--general-neutral-800, #282828);
      text-decoration: none;
      letter-spacing: -0.32px;
    }
  }

  .complete-reset-pw-container {
    width: 442px;
    height: 48px;
    margin-top: 24px;
    background: var(--general-neutral-850, #141414);
    border-radius: 12px;
  
    & > [href="/"] {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: var(--neutral-white, #FFF);
      text-decoration: none;
      letter-spacing: -0.32px;
    }
  }

  & > p {
    margin-top: 4px;
    margin-left: 16px;
    color: var(--general-error-e-600, #E00F00);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.28px;
  }
}