@font-face {
  font-family: Pretendard;
  font-weight: 400;
  src: url('../public/assets/fonts/Pretendard/woff2/Pretendard-Regular.woff2') format('woff2'),
    url('../public/assets/fonts/Pretendard/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  src: url('../public/assets/fonts/Pretendard/woff2/Pretendard-SemiBold.woff2') format('woff2'),
    url('../public/assets/fonts/Pretendard/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  src: url('../public/assets/fonts/Pretendard/woff2/Pretendard-Bold.woff2') format('woff2'),
    url('../public/assets/fonts/Pretendard/woff/Pretendard-Bold.woff') format('woff');
}