.next-button-wrapper {
  width: 100%;
  height: 48px;

  & > button {
    width: 100%;
    height: 100%;
    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--neutral-white, #FFF);
    letter-spacing: -0.32px;
    cursor: pointer;
    background: var(--general-neutral-800, #282828);
    border: none;
    border-radius: 12px;
  
    &[disabled] {
      color: var(--general-neutral-400, #CCCBCB);
      cursor: default;
      background: var(--neutral-300, #E6E6E6);
    }
  }
}

