.process3-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 672px;
  height: fit-content;

  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 24px;
    border: 1px solid var(--general-neutral-300, #E6E6E6);
    border-radius: 12px;

    .detail-info-wrapper {
      & > p {
        padding: 12px 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: var(--general-neutral-700, #525252);
        letter-spacing: -0.32px;
      }

      .dropdown-row-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
  }
}